<div class="row">
    {% for link in links %}
        <div class="card col-md-4">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
            <div class="card-body">
                <h5 class="card-title">Link title</h5>
                {% if auth().current and auth().current.isAdmin or auth().current.isAuthor(link)  %}
                    <p>
                    <form action="{{ path('link.delete', {id: link.id}) }}" method="post" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet élément ?')">
                        <button type="submit" class="btn btn-danger">X</button>
                    </form>
                    </p>
                {% endif %}
                <p class="card-text">{{ link.description }}</p>
                <em class="link__author">De <a href="">@{{ link.user.username }}</a></em>
                <a href="{{ link.url }}" class="btn btn-primary" target="_blank">Visiter le site</a>
            </div>
        </div>
    {% endfor %}
</div>