{% extends 'base.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}

    <div class="container" style="padding-top: 80px;">
        <h1>Page introuvable</h1>

        <img src="http://www.esolutionsupport.com/error.gif" alt="Page 404 not found">
    </div>

{% endblock %}